.segment:hover, .segment:focus, .segment:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

.segment-positive {
    border: 10px solid green;
}

.segment-negative {
    border: 10px solid red;
}

video {
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
}